﻿@using FA.JustBlog.Core.Models;
@using FA.JustBlog.Repository.Infrastructures;
@inject IUnitOfWork uow;
@{
    var latestPosts = uow.PostRepository.LatestPosts();
}

<h1>Latest Posts</h1>

@if (latestPosts != null && latestPosts.Count > 0)
{
    @foreach (var item in latestPosts)
    {
        <!-- Post preview-->
        <div class="post-preview">
            <a asp-action="Detail" asp-controller="Post" asp-route-year="@item.PostedOn.Year" asp-route-month="@item.PostedOn.Month" asp-route-title="@item.Title">
                <h2 class="post-title">@item.Title</h2>
                <h3 class="post-subtitle">@item.ShortDescription</h3>
            </a>
            <p class="post-meta">
                Posted by
                <a href="#!">Start Bootstrap</a>
                @item.PostedOn
            </p>
        </div>
    }
}


