﻿@{
    ViewData["Title"] = "GetPostsByTag";
    Layout = "~/Views/Shared/_Layout.cshtml";

}
@using FA.JustBlog.Core.Models;
@model List<Post>;
@{
    var tagName = ViewBag.TagName;
}

<div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-8">
            <h1 class="post-title">Tin tức @tagName</h1>
            <div class="col-md-10 col-lg-8 col-xl-7">
                @if (Model != null && Model.Count > 0)
                {
                    @foreach (var item in Model)
                    {
                        <!-- Post preview-->
                        <div class="post-preview">
                            @*<a href="@Url.Action("Detail", "Post", new {postId = item.Id})">*@
                            <a asp-action="Detail" asp-controller="Post" asp-route-year="@item.PostedOn.Year" asp-route-month="@item.PostedOn.Month" asp-route-title="@item.Title">
                                <h2 class="post-title">@item.Title</h2>
                                <h3 class="post-subtitle">@item.ShortDescription</h3>
                            </a>
                            <p class="post-meta">
                                Posted by
                                <a href="#!">Hoang Quoc Cuong</a>
                                @item.PostedOn
                            </p>
                        </div>
                        <!-- Divider-->
                        <hr class="my-4" />
                    }
                }
                <!-- Pager-->
                <div class="d-flex justify-content-end mb-4"><a class="btn btn-primary text-uppercase" href="#!">Older Posts →</a></div>
            </div>
        </div>
        <div class="col-4">
            <div class="row">
                <partial name="_PopularTags.cshtml" />
                <partial name="_ListPosts.cshtml" />
            </div>
        </div>
    </div>
</div>

